.cardPortfolio{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;

    img {
        width: 100%;
    }

    .titleCard{
        font-size: 2rem;
    }

    .techs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .btns{
        display: flex;
        justify-content: space-between;
        
        button{
            background-color: $btn-color;
            width: 60%;
            display: flex;
            justify-content: flex;
            align-items: flex;

            gap: 0.5rem;

            color: white;
            font-weight: bold;

            font-size: 1.3rem;

            svg{
                font-size: 2rem;
            }
        }
    }
}